$lightGreen : #b9e7e7;

.app {
    display: flex;
    justify-content: center;
    .container {
        width: 1024px;

        .link{
            text-decoration: none;
            color: inherit;
        }
        //Login & Register
        .auth {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            background-color: $lightGreen;

            h1{
                font-size: 20px;
                color:teal;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border:none;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //Navbar styling
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white ;

                        &:hover{
                            color: teal;
                            background-color: white;
                            border: 1px solid teal ;
                        }
                    }
                }
            }
        }
        //Footer
        footer{
            margin-top: 50px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;

            }
        }
    }
}